.galleries {
    position:relative;
    &__wrap {
        height:rhythm(12);
        background:$primary;
        position:relative;
    }
    &__slide {
        position:relative;
        & img {
            max-height:100%;
            transition:all 0.3s;
        }
        &:hover {
            & img {
                opacity:0.7;
            }
            & .galleries__title {
                opacity:1;
            }
        }
    }
    &__title {
        @include centerer;
        opacity:0;
        transition:all 0.3s;
        & h4 {
            color:$secondary;
            text-transform:uppercase;
        }
    }
}
