.instagram {
    padding-bottom: rhythm(3);
    &__item {
        & a {
            border: rhythm(0.1) solid $secondary;
            transition: all 0.3s;
            line-height: 1;
            vertical-align: top;
            &:hover {
                border: rhythm(0.1) solid red;
            }
            & img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}