.main-slider {
    margin-top: rhythm(3);
    &__item {
        display: inline-block;
        position: relative;
        max-width: 100%;
        & > a {
            height: 100%;
            line-height: 1;
            vertical-align: middle;
            & img {
                max-width: 100%;
                height: auto;
            }
        }
    }
    &__content {
        padding: rhythm(.5);
        color: $white;
        width: span(12);
        background: lighten($primary,20%);

        &-title {
            overflow: hidden;
        }
        & p {
            margin-bottom: 0;
        }
        & h4 {
            text-transform: uppercase;
            color: $white;
        }
        & .separated-content {
            border-bottom: 1px solid $white;
            margin-bottom: rhythm(0.5);
            padding-bottom: rhythm(0.2);
        }
    }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .main-slider {
        margin-top: 0;
        height: rhythm(22);
        &__item {
            & a {
                & img {
                    max-height: 100%;
                    width: auto;
                }
            }
        }
        &__content {
            position: absolute;
            bottom: 0;
            z-index: 1000;
            transition: all 0.3s;
            background: none;
            .main-slider__item:hover & {
                transform: translateY(0px);
            }

            &:before {
                content: "";
                @include coverer;
                background: $primary;
                opacity: 0.6;
                z-index: -1;
            }
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
