.twitter {
    position:relative;
    padding-bottom:rhythm(3);
    &__wrap {
        position:relative;
    }
    &__slide{
        width:span(12);
        padding:rhythm(1) span(3);
        text-align:center;

        & p {
            @include adjust-font-size-to(ms(3));
            font-family: $base-font-family;
            font-style:italic;
        }
    }
}
