.archive {
    &__section {
        padding: rhythm(3) 0;
    }
}
@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .archive {
        &__section {
            padding: 0 0 rhythm(3);
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
