.single {
    &__section {
        padding: rhythm(3) 0 0;
    }
    &__wrap {
        @include span(10);
        margin: rhythm(2) span(1) rhythm(3);
    }
    &__head {
        margin-bottom: rhythm(2);
    }
    &__meta {
        display: inline-block;
        padding: 0 rhythm(0.3) 0 rhythm(0.5);
        font-family: $heading-font-family;
        font-weight: 800;
        width: auto;
        margin: rhythm(0.5) 0;
    }
    &__cover-image {
        width: span(12);
        position: relative;
        overflow: hidden;

        & img {
            max-width: 100%;
            height: auto;
        }
    }
    &__main-title {
        text-transform: uppercase;

        &--oncover {
            padding: rhythm(1) rhythm(1) 0;
        }
    }
}
@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .single {
        &__section {
            padding: 0;
        }
        &__wrap {
            @include span(6);
            margin: rhythm(2) span(3) 0;
        }
        &__cover-image {
            height: rhythm(22);

            & img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &__main-title {

            &--oncover {
                @include centerer;
            }
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
