.site-footer {
    background: $third;
    width: span(12);
    padding: rhythm(.15) rhythm(1);
    overflow:hidden;

    &__section {
        display:inline-block;
        width:span(12);
        float:left;
        text-transform: uppercase;
        font-family:$menu-font-family;
        margin:rhythm(0.5) 0;
    }
    &__designby {
        text-align:center;
        @include adjust-font-size-to(ms(-1));
        text-transform:uppercase;
    }
    &__menu {
        text-align:center;
        & ul {
            overflow:hidden;
            li {
                padding: 0 rhythm(0.5);
                display:inline-block;
                a {
                    display: block;
                    line-height:1;
                    transition: all 0.3s;
                    @include adjust-font-size-to(ms(-1));
                    &:hover {
                        opacity:0.6;
                    }
                }
            }
        }
    }
}
.social {
    float:right;
    &__wrap {
        display:flex;
        justify-content:center;
        overflow:hidden;
    }
    &__link {
        display: block;
        float: left;
        margin: rhythm(0.1) rhythm(0.5);
        line-height:1;
        transition: all 0.3s;
        &:hover {
            opacity: 0.6;
        }
    }
    &__icon {
        width: auto;
        height: rhythm(0.7);

    }
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .site-footer {
        position: fixed;
        bottom: 0;
        z-index: 9999;
        padding: rhythm(.15) rhythm(1);

        &__section {
            width:span(3);
            margin:0;

        }
        &__designby {
            text-align:left;
        }
        &__menu {
            width:span(6);
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
