.site-header {
    display: table;
    position: fixed;
    z-index: 9000;
    background: $secondary;
    top: 0;
    height: rhythm(2);
    width: span(12);
    &__wrap {
        padding: 0 rhythm(0.3);
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        & a {
            display: inline-block;
            line-height: 1;
            & img {
                height: auto;
                max-width: span(10);
            }
        }
    }
    &__mobile-btn {
        display: table-cell;
        width: rhythm(3);
        border: none;
        background: transparent;
        padding: rhythm(.5);
        & svg {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .site-header {
        height: rhythm(5);
        position: static;
        width: span(12);
        overflow: hidden;
        &__wrap {
            padding: rhythm(1);
            margin: 0 auto;
            width: auto;
            text-align: center;
        }
        &__mobile-btn {
            display: none;
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
