/*============================
GENERAL
============================*/
@include establish-baseline;
::selection {
    background: $primary;
    color: $secondary;
    opacity: 1;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    background: $secondary;
}
.container {
    @include container();
    position: relative;

    &__wrap {
        width: span(10);
        margin: 0 span(1);
        overflow: hidden;
    }

    &__title {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        margin: rhythm(3) 0;
        padding: 0 rhythm(1);
        text-align: center;

        & h3 {
            text-align: center;
            display: inline-block;
            border-bottom: rhythm(.2) solid $primary;
        }
    }

    &--gray {
        background: $lightgray;
    }
}
/*============================
COLUMNS, ETC
============================*/
.col {
    &-4 {
        @include span(3 of 12);
    }
}
.gallery {
    &-4 {
        @include gallery(3 of 12);
    }
}
/*============================
TILES
============================*/
.tiles {
    .flexbox & {
        &--4 {
            & > * {
                width: span(12) - gutter();
                margin-bottom: rhythm(1);
            }
        }
        &--6 {
            & > * {
                width: span(6) - gutter();
            }
        }
    }
    .no-flexbox & {
        &--4 {
            column-count: 1;
            column-gap: 0;
        }
        &--6 {
            column-count: 2;
            column-gap: rhythm(0.5);
        }
        &__tile {
            display: inline-block;
            width: span(12);

            .tiles--4 & {
                margin-bottom: rhythm(1);
            }
        }
    }

    &__item {
        & a {
            & .tiles__image {
                height: rhythm(8);
                background-size: cover;
                background-position: center;
                transition: all 0.3s;
            }
            & h4 {
                text-transform: uppercase;
                transition: all 0.3s;
            }
            &:hover {
                & .tiles__image,
                & h4 {
                    opacity: 0.6;
                }
            }
        }
    }
    small {
        text-align: center;
        width: span(12);
        display: block;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $menu-font-family;
        color: $secondary;
    }

    &__content {
        background: $lightgray;
        padding: rhythm(0.5);
        margin-bottom: rhythm(0.2);
        .container--gray & {
            background: $fourth;
        }
        & p {
            margin-bottom: 0;
        }
    }
}
/*============================
HELPERS
============================*/
.separated-content {
    display: block;
    width: span(12);
    color: $secondary;
    & span {
        margin-right: rhythm(.2);
        font-weight: 400;

        &:first-child {
            padding-right: rhythm(.2);
            border-right: 1px solid $white;
        }
        & a {
            display: inline-block;
            @include adjust-font-size-to(ms(-1));
            font-family: $menu-font-family;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}
.loadmore {
    display: table;
    margin: rhythm(3) auto;
    & a {
        display: table-cell;
        text-align: center;
        @include adjust-font-size-to(ms(-1));
        text-transform: uppercase;
        position: relative;

        &:before {
            content: '';
            @include centererX;
            top: rhythm(1);
            border-top: rhythm(0.5) solid $primary;
            border-left: rhythm(0.5) solid transparent;
            border-right: rhythm(0.5) solid transparent;
        }
    }
}
.loader {
    position: fixed;
    z-index: 9999;
    width: span(12);
    top: 0;
    display: none;

    & svg {
        @include centerer;
        animation-name: rotate;
        animation-duration: 1.2s;
        transform-origin: center;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &--loading {
        display: block;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*============================
MEDIA QUERIES
============================*/
@include breakpoint($xsmall) {
    .tiles {
        &__item {
            & a {
                & .tiles__image {
                    height: rhythm(10);
                }
            }
        }
    }
}
@include breakpoint($small) {
    .tiles {
        &__item {
            & a {
                & .tiles__image {
                    height: rhythm(12);
                }
            }
        }
    }
}
@include breakpoint($normal) {
    /*============================
    TILES
    ============================*/
    .tiles {
        .flexbox & {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            &--4 {
                & > * {
                    width: span(4) - gutter();
                    margin-bottom: rhythm(1);
                }
            }
            &--6 {
                & > * {
                    width: span(3) - gutter();
                }
            }
        }
        .no-flexbox & {
            &--4 {
                column-count: 3;
                column-gap: rhythm(1);
            }
            &--6 {
                column-count: 4;
                column-gap: rhythm(0.5);
            }
            &__tile {
                display: inline-block;
                width: span(12);
            }
        }
        &__item {
            & a {
                & .tiles__image {
                    height: rhythm(6);
                }
            }
        }
    }
}
@include breakpoint($medium) {
    .tiles {
        &__item {
            & a {
                & .tiles__image {
                    height: rhythm(8);
                }
            }
        }
    }
}
@include breakpoint($large) {
    /*============================
    TILES
    ============================*/
    .tiles {
        .flexbox & {
            &--4 {
                & > * {
                    width: span(3) - gutter();
                    margin-bottom: rhythm(1);
                }
            }
            &--6 {
                & > * {
                    width: span(2) - gutter();
                }
            }
        }
        .no-flexbox & {
            &--4 {
                column-count: 4;
                column-gap: rhythm(1);
            }
            &--6 {
                column-count: 6;
                column-gap: rhythm(0.5);
            }
        }
        &__item {
            & a {
                & .tiles__image {
                    height: rhythm(8);
                }
            }
        }
    }
}
@include breakpoint($xlarge) {
    /*============================
    TILES
    ============================*/
    .tiles {
        &__item {
            & a {
                & .tiles__image {
                    height: rhythm(10);
                }
            }
        }
    }
}
