@mixin coverer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin centererY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin centererX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin center-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin space-between-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin center-column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin triangle ($size, $color, $direction) {
    height: 0;
    width: 0;
    $width: nth($size, 1);
    $height: nth($size, length($size));
    $foreground-color: nth($color, 1);
    $background-color: if(length($color) == 2, nth($color, 2), transparent);
    @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
        $width: $width / 2;
        $height: if(length($size) > 1, $height, $height/2);
        @if $direction == up {
            border-bottom: $height solid $foreground-color;
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;
        }
        @else if $direction == right {
            border-bottom: $width solid $background-color;
            border-left: $height solid $foreground-color;
            border-top: $width solid $background-color;
        }
        @else if $direction == down {
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;
            border-top: $height solid $foreground-color;
        }
        @else if $direction == left {
            border-bottom: $width solid $background-color;
            border-right: $height solid $foreground-color;
            border-top: $width solid $background-color;
        }
    }
    @else if ($direction == up-right) or ($direction == up-left) {
        border-top: $height solid $foreground-color;
        @if $direction == up-right {
            border-left: $width solid $background-color;
        }
        @else if $direction == up-left {
            border-right: $width solid $background-color;
        }
    }
    @else if ($direction == down-right) or ($direction == down-left) {
        border-bottom: $height solid $foreground-color;
        @if $direction == down-right {
            border-left: $width solid $background-color;
        }
        @else if $direction == down-left {
            border-right: $width solid $background-color;
        }
    }
    @else if ($direction == inset-up) {
        border-color: $background-color $background-color $foreground-color;
        border-style: solid;
        border-width: $height $width;
    }
    @else if ($direction == inset-down) {
        border-color: $foreground-color $background-color $background-color;
        border-style: solid;
        border-width: $height $width;
    }
    @else if ($direction == inset-right) {
        border-color: $background-color $background-color $background-color $foreground-color;
        border-style: solid;
        border-width: $width $height;
    }
    @else if ($direction == inset-left) {
        border-color: $background-color $foreground-color $background-color $background-color;
        border-style: solid;
        border-width: $width $height;
    }
}