.menu {
    z-index: 8000;
    padding: rhythm(0.2) rhythm(0.5);
    background: $secondary;
    transform: translateY(-100%);
    position: fixed;
    box-shadow: 0 -5px 20px $primary;
    top: rhythm(3);
    width: span(12);
    transition: transform 0.3s;

    &--expanded {
        transform: translateY(0);
    }
    ul {
        transition: all 0.3s;
        overflow: hidden;
        li {
            float: left;
            padding: 0 rhythm(0.5);
            width: span(12);
            &.current-menu-item a {
                color: inherit;
                border: 1px solid inherit;
            }
            a {
                font-family: $menu-font-family;
                text-transform: uppercase;
                padding: rhythm(0.2) rhythm(0.5);
                display: block;
                font-weight: 400;
                transition: all 0.3s;
                border: 1px solid transparent;
                border-radius: 4px;
                color: $primary;
                @include adjust-font-size-to(ms(-1));
                &:hover {
                    color: inherit;
                    border: 1px solid inherit;
                }
            }
        }
    }
}
@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {
    .menu {
        transform: translateY(0);
        box-shadow: none;
        top: 0;
        position: static;
        &--scrolled {
            box-shadow: 0 -5px 20px $primary;
        }
        &--expanded {
            transform: translateY(0);
        }
        ul {
            display: flex;
            justify-content: center;
            li {
                width: auto;
            }
        }
    }
}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
