//Compass Vertical Rhythm
$base-font-family: 'Lato', sans-serif;
$heading-font-family: 'Raleway', sans-serif;
$menu-font-family: 'Montserrat', sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: rem;
$round-to-nearest-half-line: true;
//Modular Scale
$ms-base: 16px;
$ms-ratio: $major-third;
//Color
$black: #000;
$white: #fff;
$cream: #fffff6;
$gray: #cecece;
$lightgray: #eaeaea;
//--------------
$primary: $black;
$secondary: $cream;
$third: $gray;
$fourth: $white;
//Susy
$susy: ( global-box-sizing: border-box, use-custom: (rem: true), columns: 12, gutters:1/2, gutter-position: inside );
//Breakpoint
$xsmall: 480px;
$small: 768px;
$normal: 1024px;
$medium: 1280px;
$large: 1400px;
$xlarge: 1650px;
//Various variables
