body {
    font-family: $base-font-family;
    color: $primary;
}
small {
    @include adjust-font-size-to(ms(-1))
}
p,
a {
    @include adjust-font-size-to(ms(0));
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
}
p {
    margin-bottom: rhythm(1);
}
h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: $heading-font-family;
    font-weight: 800;
}

h6 {
    @include adjust-font-size-to(ms(0));
}
h5 {
    @include adjust-font-size-to(ms(0));
}
h4 {
    font-size: rhythm(0.77);
    line-height: 1.5;
}
h3 {
    @include adjust-font-size-to(ms(2));
}
h2 {
    @include adjust-font-size-to(ms(3), 1.5);
}
h1 {
    @include adjust-font-size-to(ms(4), 2.4);
}

@include breakpoint($xsmall) {

}
@include breakpoint($small) {

}
@include breakpoint($normal) {

}
@include breakpoint($medium) {

}
@include breakpoint($large) {

}
